{% extends "base.html" %}

{% block content %}

<div class="container">
    <form method="GET">
        <input type="text" id="searchBox" onkeyup="fetchSuggestions()" size="5%" placeholder="Search" name="search" value="{{ search_query }}">
        <button class="action-button">Search</button>
        <button class="action-button">Undo</button>
        
    </form>

    <form method="POST">
        {{ form.hidden_tag() }}
        <div>
            {{ form.title.label }} 
            {{ form.title(size=3, class_='input-field', placeholder="Title") }}<br>
            
            {{ form.description.label }} 
            {{ form.description(size=3, class_='input-field', placeholder="Description") }}<br>
            
            {{ form.priority.label }} 
            {{ form.priority(size=3, class_='input-field', placeholder="Priority") }}<br>
            
            {{ form.submit(class_='action-button') }} 
        </div>
    </form>
    

    <ul>
        {% if tasks %}
            {% for task in tasks %}
            <li>
                <div class="task-details" id="task-{{ task.id }}">
                    <input type="checkbox" onclick="toggleComplete({{ task.id }})"> 
                    <span class="task-text"><strong>{{ task.title }}</strong> - {{ task.description }} - <em>Priority: {{ task.priority }}</em></span>
                </div>
                <div class="task-actions">
                    <a href="{{ url_for('delete', task_id=task.id) }}">Delete</a>
                    <a href="{{ url_for('update', task_id=task.id) }}">Update</a>
                </div>
            </li>
            {% endfor %}
        {% else %}
            <li>No tasks available.</li>
        {% endif %}
    </ul>
      
</div>

<script>
    function toggleComplete(taskId) {
        const taskElement = document.getElementById(`task-${taskId}`);
        taskElement.classList.toggle('completed');
    }
</script>
{% endblock %}
