body {
    font-family: 'Inter', sans-serif;
    font-size: 15px;
    font-weight: 500;
    background-color: rgb(255, 255, 255);
    color: rgb(39, 39, 39);
    margin: 0;
    padding: 20px;
}

.action-button {
    background-color: rgb(130, 134, 141);
    color: #000000;
    padding: 10px 15px;
    border: none;
    border-radius: 15px;
    margin-left: 0px;
    text-decoration: none;
    font-weight: 1000;
    display: inline-block;
    white-space: nowrap;
}

.action-button:hover {
    background-color: rgb(255, 158, 11);
    color: rgb(255, 255, 255);
}


form input, form textarea, form select, form button {
    margin-bottom: 15px;
    width: 100%;
    border: none;
    outline: none;
}

form input[name="search"] {
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 12px;
    border: 1px solid rgb(230, 230, 230);
    background-color: rgb(230, 230, 230);
    color: rgb(0, 0, 0);
    outline: none;
    border-radius: 12px;
    border: 1px solid rgb(230, 230, 230);
    background-color: rgb(230, 230, 230);
    color: rgb(0, 0, 0);
    outline: none;
}
.container {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    align-items: flex-start;
    padding-left: 20px;
    flex-wrap: wrap;
}

form input[name="title"], 
form textarea[name="description"], 
form input[name="priority"] {
    padding: 8px;
    border-radius: 12px;
    background-color: rgb(230, 230, 230);
    color: rgb(0, 0, 0);
    outline: none;
    padding-left: 0px;
}

ul {
    list-style-type: none;
    padding: 0;
    margin-top: 20px;
    flex-grow: 1;
    width: 100%;
}

li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0;
    padding: 10px;
    background-color: rgb(230, 230, 230);
    border-radius: 10px;
    color: rgb(39, 39, 39);
}

li .task-details {
    flex-grow: 1;
}

li .task-actions {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}

ul li a {
    color: rgb(255, 185, 81);
}

ul li a:hover {
    text-decoration: underline;
    color: rgb(255, 158, 11);
}

.completed {
    text-decoration: line-through;
    opacity: 0.6;
    color: rgb(150, 150, 150);
}
